@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pvz49z');
  src:  url('../fonts/icomoon.eot?pvz49z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pvz49z') format('truetype'),
    url('../fonts/icomoon.woff?pvz49z') format('woff'),
    url('../fonts/icomoon.svg?pvz49z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ic-icon>[class^="icon-"], .ic-icon>[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-termo:before {
  content: "\e91b";
}
.icon-privativa:before {
  content: "\e91c";
}
.icon-classificados:before {
  content: "\e919";
}
.icon-politica:before {
  content: "\e91a";
}
.icon-down-arrow:before {
  content: "\e916";
}
.icon-edit-(1):before {
  content: "\e917";
}
.icon-rating:before {
  content: "\e918";
}
.icon-area-comum:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-conveniencias:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e903";
}
.icon-fechar:before {
  content: "\e904";
}
.icon-sair:before {
  content: "\e905";
}
.icon-configuracoes:before {
  content: "\e906";
}
.icon-operacao:before {
  content: "\e907";
}
.icon-alert:before {
  content: "\e908";
}
.icon-prestadores:before {
  content: "\e909";
}
.icon-visitantes:before {
  content: "\e90a";
}
.icon-animais:before {
  content: "\e90b";
}
.icon-acessos:before {
  content: "\e90c";
}
.icon-veiculos:before {
  content: "\e90d";
}
.icon-arquivos:before {
  content: "\e90e";
}
.icon-correspondencia:before {
  content: "\e90f";
}
.icon-pessoas:before {
  content: "\e910";
}
.icon-enquetes:before {
  content: "\e911";
}
.icon-mudancas:before {
  content: "\e912";
}
.icon-noticias:before {
  content: "\e913";
}
.icon-mensagens:before {
  content: "\e914";
}
.icon-reservas:before {
  content: "\e915";
}
